<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/7.1/configuration.html -->
<phpunit
    colors="true"
    convertErrorsToExceptions="false"
    bootstrap="tests/bootstrap.php"
    >

    <testsuites>
        <testsuite name="Reith ToyRobot">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
